# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xml
.idea/phalcon-tds.iml
*.json
TD1/semantic/.csslintrc
*.jshintrc
TD1/semantic/CONTRIBUTING.md
*.css
TD1/semantic/dist/components/accordion.js
*.js
*.eot
TD1/semantic/dist/themes/basic/assets/fonts/icons.svg
*.ttf
*.woff
TD1/semantic/dist/themes/default/assets/fonts/icons.otf
*.svg
TD1/semantic/dist/themes/default/assets/fonts/icons.woff2
*.png
*.jpg
TD1/semantic/examples/bootstrap.html
*.html
TD1/semantic/LICENSE.md
*.md
TD1/semantic/semantic.json.example
*.less
*.example
TD1/semantic/src/themes/amazon/elements/button.overrides
*.variables
TD1/semantic/src/themes/basic/collections/table.overrides
*.overrides
TD1/node_modules/abbrev/LICENSE
*.editorconfig
TD1/node_modules/accord/.npmignore
*.cmd
TD1/node_modules/accord/node_modules/convert-source-map/.npmignore
*.yml
TD1/node_modules/accord/node_modules/convert-source-map/test/fixtures/map-file-comment.css.map
TD1/node_modules/accord/node_modules/semver/LICENSE
*.bnf
TD1/node_modules/align-text/LICENSE
TD1/node_modules/ansi-escapes/license
*.npmignore
TD1/node_modules/ansicolors/LICENSE
*.markdown
TD1/node_modules/argparse/LICENSE
TD1/node_modules/array-find-index/license
TD1/node_modules/array-unique/LICENSE
TD1/node_modules/arrify/license
TD1/node_modules/async/LICENSE
*.DOCS
TD1/node_modules/autoprefixer/AUTHORS
*.tern-port
TD1/node_modules/aws4/LICENSE
TD1/node_modules/boom/LICENSE
TD1/node_modules/braces/LICENSE
TD1/node_modules/camelcase-keys/license
*.cardinalrc
TD1/node_modules/cardinal/LICENSE
*.txt
TD1/node_modules/caseless/LICENSE
TD1/node_modules/clean-css/LICENSE
*.info
TD1/node_modules/clone-buffer/LICENSE
TD1/node_modules/clone/LICENSE
TD1/node_modules/commander/LICENSE
TD1/node_modules/convert-source-map/LICENSE
*.map
TD1/node_modules/core-util-is/float.patch
*.jsm
TD1/node_modules/css/node_modules/source-map/LICENSE
*.in
TD1/node_modules/dashdash/node_modules/assert-plus/AUTHORS
TD1/node_modules/defaults/LICENSE
TD1/node_modules/deprecated/LICENSE
TD1/node_modules/detect-indent/node_modules/repeating/license
TD1/node_modules/duplexify/node_modules/isarray/Makefile
TD1/node_modules/ecc-jsbn/lib/LICENSE-jsbn
TD1/node_modules/electron-to-chromium/shelljs_99e0d38f08fff0dcbff6
TD1/node_modules/error-ex/LICENSE
TD1/node_modules/esprima/ChangeLog
*.BSD
TD1/node_modules/event-stream/node_modules/map-stream/LICENCE
TD1/node_modules/expand-range/LICENSE
*.eslintrc
TD1/node_modules/extend/LICENSE
*.conf
TD1/node_modules/extsprintf/LICENSE
*.targ
TD1/node_modules/fancy-log/LICENSE
TD1/node_modules/find-up/license
*.opts
TD1/node_modules/flagged-respawn/LICENSE
*.APACHE2
TD1/node_modules/from/LICENSE.MIT
TD1/node_modules/generate-object-property/LICENSE
*.coffee
TD1/node_modules/gulp-clone/node_modules/.bin/dateformat
TD1/node_modules/gulp-clone/node_modules/dateformat/LICENSE
*.sh
*.jshintignore
*.gitkeep
*.1
*.el
*.0
*.jsbeautifyrc
*.mustache
*.jscsrc
*.bat
*.test
*.ts
*.exe
TD1/node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Info.plist
*.rtf
TD1/node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Resources/en.lproj/InfoPlist.strings
*.nib
TD1/node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Resources/Terminal.icns
*.dll
*.eslintignore
*.patch
*.ext1
TD1/node_modules/readdirp/test/bed/root_dir1/root_dir1_file2.ext2
*.ext3
*.ext2
*.rtlcssrc
TD1/node_modules/semantic-ui/.csslintrc
*.otf
TD1/node_modules/semantic-ui/dist/themes/default/assets/fonts/icons.woff2
*.woff2
TD1/node_modules/semver/semver.min.js.gz
*.template
TD1/node_modules/source-map-resolve/x-package.json5
*.MIT
*.hbs
