# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xml
.idea/phalcon-tds.iml
*.json
TD1/semantic/.csslintrc
*.jshintrc
TD1/semantic/CONTRIBUTING.md
*.css
TD1/semantic/dist/components/accordion.js
*.js
*.eot
TD1/semantic/dist/themes/basic/assets/fonts/icons.svg
*.ttf
*.woff
TD1/semantic/dist/themes/default/assets/fonts/icons.otf
*.svg
TD1/semantic/dist/themes/default/assets/fonts/icons.woff2
*.png
*.jpg
TD1/semantic/examples/bootstrap.html
*.html
TD1/semantic/LICENSE.md
*.md
TD1/semantic/semantic.json.example
*.less
*.example
TD1/semantic/src/themes/amazon/elements/button.overrides
*.variables
TD1/semantic/src/themes/basic/collections/table.overrides
*.overrides
